@media(max-width:1199px) {
    ul.menu_navigation {
        gap: 20px;
    }

    .seaml-text {
        padding: 30px;

    }
}

@media(max-width:991px) {
    .customer {
        display: none;
    }

    .serachbar {
        display: none;
    }

    .sidenavs {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        overflow-x: hidden;
        background-color: #fff;
        height: 100vh;
        transition: all 0.3s;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    a.closebtn {
        display: block !important;
        font-size: 30px;
        text-align: right;
        padding: 9px;
        color: #c09d68;
    }

    span.toggle_menu {
        display: block !important;
        font-size: 24px;
        color: #c19d68;
    }

    .top-header .top-header-inner {
        padding: 2.188rem 0;
    }

    ul.menu_navigation {
        display: flex;
        justify-content: center;
        gap: 0;
        flex-direction: column;
    }

    .bottom-header {
        background-color: transparent;
        padding: 0px 0;
    }

    ul.menu_navigation li {
        padding: 0;
        border-bottom: 1px solid #ddddddc7;
    }

    ul.menu_navigation li a {
        color: #584528;
        font-size: 16px;
        padding: 10px;
        display: block;
        color: #000;
    }


    .seaml.second .seaml-text {
        margin: 0 0px 0 0;

    }

    .seaml-text {
        margin: 0rem 0 0 0px;
    }

    .seaml.second .row {
        flex-direction: column-reverse;
    }

    section.banner {
        height: auto;
    }

    .bnr-text h1 {
        font-size: 40px;
    }

    .is-sticky {
        position: static;
    }

    .seaml-text {
        padding: 30px;

    }

    .seaml-text h5 {
        font-size: 20px;

    }
}

@media(max-width:767px) {
    footer.footer {
        text-align: center;
    }

    .footer-widget.menu {
        margin-top: 30px;
    }
}

@media(max-width:575px) {
    .delighted {
        height: 300px;
        overflow: hidden;
        border-radius: 6px;
    }

    .seaml-text h5 {
        font-size: 24PX;

    }
}

@media(max-width:424px) {
    .logo img {
        max-width: 250px;
    }

    .footer-logo img {
        max-width: 250px;
    }

    .footer-widget h5 {
        font-size: 20px;
    }
}