@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Archivo", sans-serif;
}

/* top-header css*/
.top-header .top-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.188rem 0;
    gap: 30px;
}

.customer a {
    text-align: center;
    font-size: 16px;
    color: #584528;
}

.customer a:hover {
    color: #deb666;
}

.serachbar input {
    width: 300px;
    padding: 10px 30px 10px 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/*bottom header */
.bottom-header {
    background-color: #f8f7f1;
    padding: 26px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul.menu_navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
}

ul.menu_navigation li a {
    color: #000;
}

ul.menu_navigation li a.active-menu {
    color: #deb666;
}

ul.menu_navigation li a:hover {
    color: #deb666;
}

a.closebtn {
    display: none;
}

span.toggle_menu {
    display: none;
}

.logo img {
    max-width: 300px;
}

.page-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 0;
    z-index: 1;
    background-color: #f8f7f1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999999;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.page-header.is-sticky {
    position: fixed;
    padding: 30px 0;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
    background: #fff;
    z-index: 999999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*  */
section.banner {
    background: url(../images/slide03.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    padding: 140px 0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bnr-text h1 {
    font-family: 'Great Vibes', Raleway, sans-serif;
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #FFF;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
}

/*  */
section.seamless {
    padding: 60px 0;
    background-color: #f8f7f1;
}

.seaml .row {
    align-items: center;
}

.seaml-text {
    background: #fff;
    padding: 58px;
    margin: 0rem 0 0 -82px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 9;
    position: relative;
    transition: .5s ease-in-out;
}




.seaml.second .seaml-text {
    margin: 0 -82px 0 0;
    z-index: 999;
    position: relative;
}

.delighted {
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
}

.delighted img {
    height: 100%;
    border-radius: 6px;
    transition: transform 0.5s ease-in-out;
}

.delighted img:hover {
    transform: scale(1.3);
}

section.privacy {
    background: #f8f7f1;
    padding: 50px 0;
}

.privacy-inner h2 {
    font-size: 40px;
    font-family: "Archivo", sans-serif;
    margin-bottom: 50px;
}

.privacy-inner p {
    font-size: 16px;
    color: #2e2e2b;
    margin-bottom: 15px;
}

.privacy-inner p a {
    color: #deb666;
}

.privacy-inner h5 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #2e2e2b;
    font-weight: 800;
}

.privacy-inner ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 15px;
}

.privacy-inner ul li::before {
    position: absolute;
    content: "";
    background: #deb666;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 0;
    border-radius: 50%;
}


/* offer page css  */
section.inner-bnr {
    height: 400px;
    background: url(../images/Offer.avif)no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

section.inner-bnr::after {
    content: '';
    width: 100%;
    position: absolute;
    inset: 0;
    height: 100%;
    background: #00000024;
    z-index: -1;
}

section.inner-bnr .bnr-text h2 {
    color: #fff;
}

section.ncludess {
    padding: 60px 0;
}

.bnr-text {
    text-align: center;
}

.bnr-text h2 {
    font-size: 46px;
}

.post-slide {
    background: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: all 0.4s ease-in 0s;
    height: 100%;
}



.post-slide {
    background: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: all 0.4s ease-in 0s;
}

.post-img {
    height: 261px;
}

.post-img img {
    height: 100%;
    border-radius: 6px;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.post-img img:hover {
    transform: translate3d(3%, 0, 0) scale(1.06);
}

.post-img figure {
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
}



section.ensuring {
    background-color: #efeff5;
    padding: 60px 0;
}

.post-content {
    padding: 10px 10px;
}

.post-content h5 {
    font-size: 22px;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-family: "Archivo", sans-serif;
    margin-bottom: 10px;
}

.ensuring-was .row .col-lg-4.col-md-6 {
    margin-bottom: 20px;
}

.post-content p {
    margin-bottom: 10px;
    font-size: 16px;
}

.post-content span {
    font-size: 16px;
}

/*  */
section.inner-bnr.contact-us {
    background: url(../images/contact-us.png)no-repeat;
    background-size: cover;
    background-position: center;
}

section.inner-bnr.luxury-hotel {
    background: url(../images/Luxury-Hotel.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

section.assistance {
    padding: 0 0 60px 0;
}

.assistance-wrapper h5 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.assistance-wrapper h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.assistance-wrapper p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.assistance-wrapper p a {
    color: #deb666;
}

/*  */
section.inner-bnr.hotels-with-casino {
    background: url(../images/hotel-with-casino.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

section.inner-bnr.unique-hotel {
    background: url(../images/Unique-Hotel.webp)no-repeat;
    background-size: cover;
    background-position: center;
}

section.inner-bnr.budget-friendly {
    background: url(../images/Budge-Friendly.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.seaml {
    margin-bottom: 30px;
}

.seaml-text h5 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-family: "Archivo", sans-serif;
    color: #2e2e2b;
}

.seaml-text p {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
}

.includes p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.seaml-text span {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.read_more a {
    background-color: #deb666;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #deb666;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.read_more a:hover {
    color: #deb666;
    background-color: transparent;
}

/* Footer css start from here */
footer.footer {
    /* background: url(../images/footer-bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    background-color: #1E1E1E;
}

.footer-widget h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.39px;
    color: #fff;
    margin-bottom: 32px;
}

.footer-logo img {
    max-width: 350px;
}

.footer-logo {
    text-align: center;
}

.inner-f {
    margin-top: 32px;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #9EA89F;
    padding: 32px 0 78px;
}

ul.list-unstyled.open-hours li {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    color: #F1F1F1;
    width: 35%;
}

.footer-widget.menu ul li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    color: #F1F1F1;
    transition: all 0.3s linear;
}

.footer-widget.menu ul li a:hover {
    color: #deb666;
}

.footer-widget.social a {
    font-size: 22px;
    color: #fff;
    margin: 0 20px 0 0;
    display: inline-block;
    transition: all 0.3s linear;
}

.footer-widget.social a:hover {
    color: #deb666;
}

.footer-widget p a {
    color: #fff;
}

p.copyright-text {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.32px;
    padding: 32px 0;
    color: #F1F1F1;
}

p.copyright-text a {
    color: #deb666;
}

#cookie-popup {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 330px;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    color: #000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 9999999;
}

#cookie-popup p:first-child {
    margin: 0;
    color: #eee;
    font-weight: 900;
    color: #deb666;
    font-size: 22px;
    margin-bottom: 10px;
}

#cookie-popup p:nth-child(2) {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 25px;

}



#cookie-popup button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 8px 0;
    border: 1px solid #deb666;
    color: #fff;
    background-color: #deb666;
    transition: all 0.5s linear;


}

#cookie-popup button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
}

span.serach-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    color: #ccc;
}

.serachbar {
    position: relative;
}

section.inner-bnr .bnr-text h1 {
   font-family: inherit;
}